.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.pokemon-type {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 12px;
    color: white;
    text-transform: capitalize;
}